<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">]


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
<link rel="stylesheet" href = "../../static/aero/css/project1.css">

    <title>Project Webpage</title>
    <link rel="stylesheet" href="../../static/aero/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
<!changes in body add background>

<! This is code for header>
<div class="w3-top font">
    <div class="w3-bar w3-blac w3-card">
      <a href="#home"><img class="logo-img" src="../../static/aero/css/images/White logo.png" style="width: 100px; height:65px;" ></a>
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <div class="w3-right w3-hide-small">
  
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TEAM</a>
  
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">PROJECTS <i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="itsp.html" class="w3-bar-item w3-button">ITSP</a>
          <a href="project1.html" class="w3-bar-item w3-button">CLUB PROJECTS</a>
        
        </div>
      </div>
     
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOGS</a>
      <a href="#team" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GALLERY</a>
      <a href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EVENTS</a>
      </div>
     </div>
  </div>
  

  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top font" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TEAM</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROJECTS</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BLOGS</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">GALLERY</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EVENTS</a>
    
  </div>




 
<!------------backgrounf images------------------------------->
<img src = "../../static/aero/css/images/background.png" class = 'bg'>
</img>
<div class = "container"> 
 <div class="row" style = "overflow: hide;" >
 	<div class="col"></div>
 		<div class="col-12"   >
  		<h1 id = "project-text" style = "text-align: center;padding-top: 100px;" > PROJECTS </h1>
<!----------ITSP------------->
<!-------8th card----Ion Propulsion----------------------------------------------------------------------------------------------->

<div class="card mb-3 " style="max-width: 100%;">
  				<div class="row no-gutters " id = "card-full"  >
  					<div class="col click card8" id = "card-left">
  					 	
     					 
   					 <div class = "overlay"></div>
   					 </div>
   					 
    					<div class="col-6 expand click " id = "card-right"  >
    					
    						<div class = "container no-click" style= "max-width: -50%;display: flex; justify-content: flex-end; padding-right:0;margin:0;z-index:100;">			
    						<div class = "flex-child">	
    						<a href  = "https://drive.google.com/file/d/1LLKQYynFQ8xUeBNTAs1l3VEui2p1Xg6k/view?usp=sharing" onclick="disable()">
						<img src =  "../../static/aero/css/images/link.png" class = "icon" ></a>
						</div>
						<div class = "flex-child">
						<a href  = "https://youtu.be/eXtkgad20mM">
  						<img src =  "../../static/aero/css/images/youtube.svg" class = "icon1" ></a>
  						</div>
						</div>
      				<div class="card-body">
        			<h5 class="card-title">Ion-propulsion-Team Icarus</h5>
        			<small class="text-muted inv1 invisible1">Team Members: KT Prajwal Prathiksh | Pranav K Das | Vedanth Sharma</small>
       		       <p class="card-text inv1 invisible1">
            “It’s a Bird…. It’s a Plane… What the HECK is it?!” - Well, that would be an ion-propelled aircraft, radically different from the traditionally powered aircraft <span class ="invisible inv" >out there, stunningly gorgeous to look at, and of course, bringing with it a certain ‘Out-of-this-World’ aura!<br>
             Till now Ion-propulsion had only been thought of in terms of deep space propulsion mechanism, capable of propelling us at near-light speeds. But voilà, here we are demonstrating a proof-of-concept that this can be done right here on Earth, in the atmosphere, and generate thrust, albeit a rather small amount. This, however, has been used in gliders developed by MIT, where they had it flown for a respectable amount of distance and time.</span><br></p>
            <img src="../../static/aero/css/images/ion1.JPG" alt="images of ion" width="520px">
            <img src="../../static/aero/css/images/ion2.JPG" alt="images of ion" width="520px">
            <p class="card-text">
              The main motivation here for such a system in the first place is the lack of any moving parts whatsoever, which would significantly reduce maintenance in jet or propellor based planes. There are also applications where silent propulsion is required, such as steady drones for long-term surveillance, or with the use of solar panels, scale this set up to last for really long surveillance/reconnaissance flights, monitoring a huge area continuously. 
            </p>
            <img src="../../static/aero/css/images/ion3.JPG" alt="images of ion" width="520px">
            <h5 class="card-text">Learnings/Key Takeaways/Experience:
            </h5>
            <p class="card-text">
              <li class="card-text">This project has been pretty fun and interesting, actually makes sense of how the heck just high voltages can make things fly! </li>
              <li class="card-text">We went from not even being able to measure our feeble thrust initially, then to realize it generates a measly 1.137 mN of thrust and eventually making some good progress in our project.</li> 
              <li class="card-text">We learnt a lot about the electronics involved in High Power Electronics, and designing optimized aerofoils and also in fabricating them by hands in order to test out our hypotheses. </li>
              <li class="card-text">Although we still haven’t succeeded in bringing an actual ion-propelled plane as we had initially intended to, we did ‘tinker’ around a lot with the basic principles involved here and recording some valuable data, and drool-worthy videos! </li>
              <li class="card-text">But at the end of the day, this ‘experimental’ type summer project that we took upon ourselves to solve, has indeed inspired us to innovate, find methods and come up with solutions with whatever is available in order to make things work, all the while keeping in mind that our setups had to be validated and of sound logic. </li>

            </p>
          </div>
      </div>
 </div>
</div>
<!------9th card-----gesture Controlled Drone---------------------------------------------------------------------------------------------------->
<div class="card mb-3 " style="max-width: 100%;">
  				<div class="row no-gutters " id = "card-full"  >
  					<div class="col click card9" id = "card-left">
  					 	
     					 
   					 <div class = "overlay"></div>
   					 </div>
   					 
    					<div class="col-6 expand click " id = "card-right"  >
    					
    						<div class = "container no-click" style= "max-width: -50%;display: flex; justify-content: flex-end; padding-right:0;margin:0;z-index:100;">			
    						<div class = "flex-child">	
    						<a href  = "https://drive.google.com/drive/folders/13gr6UBglnt458ELScuXEiqwPpqfFJ5_7" onclick="disable()">
						<img src =  "../../static/aero/css/images/link.png" class = "icon" ></a>
						</div>
						<div class = "flex-child">
						<a href  = "https://youtu.be/YPmmcDYNt-Y">
  						<img src =  "../../static/aero/css/images/youtube.svg" class = "icon1" ></a>
  						</div>
						</div>
      				<div class="card-body">
        			<h5 class="card-title">Gesture Controlled Drone</h5>
        			<small class="text-muted inv1 invisible1">Team member: Dibyojeet Bagchi | Prashant Shettigar | Immanuel Williams | Karan Agarwalla</small>
       		       <p class="card-text inv1 invisible1">
                  Devices like drones are widely controlled using remote but what if we could control them using gestures!<span class = "invisible inv">Won’t it be cool and much easier to fly a drone by moving just your hands.It would be much easier to control a gesture based drone compared to a remote control based device.<br>
                  The idea was initially to develop a full-fledged gesture control drone but for constraints of budget, we are having gestures for two motions roll and pitch. The throttle and yaw is sent through the RC receiver.</span><br>
                  Initially, we selected this project as it seemed cool to control a drone with gestures but we later realised that this gesture technology can be extended to many devices, say gesture-based switches for electrical appliances. Smartphones could come with hand gesture control . The motion-based control using MPU can be used to control many devices in the future. Like switching on lights just by hand movements.   </p>       
                 <img src="../../static/aero/css/images/gd1.JPG" alt="images of gesture drone" width="520px">
                 <img src="../../static/aero/css/images/gd2.JPG" alt="images of gesture drone" width="520px">
                 <br>
                 <h5 class="card-text">Learnings/Key Takeaways/Experience:</h5>
                <li class="card-text">We learnt about Flight controller KK2.1 PI calibrations and options on KK2.1 to check connections. Further the use of an IMU (MPU6050 in our case) taught us how to clear noise from an analog signal using filters. The choice of filters was extremely critical and after trials we found Kalman filters giving us the best of values. </li>
                <li class="card-text">Coding on Arduino IDE was also a pleasurable experience. Building our own transmitters and receivers taught us about pipes and addresses.</li>
                <li class="card-text">We learnt about aerodynamics of drones and the appropriate selection of components was an important part of it. The optimisation of usage of power was also important to give a good flight time. Building a drone by ourselves was a dream come true.</li>
                  
                  
                </div>
      </div>
 </div>
</div>
<!------10th card-----Bionicopter---------------------------------------------------------------------------------------------------------->
<div class="card mb-3 " style="max-width: 100%;">
  				<div class="row no-gutters " id = "card-full"  >
  					<div class="col click card10" id = "card-left">
  					 	
     					 
   					 <div class = "overlay"></div>
   					 </div>
   					 
    					<div class="col-6 expand click " id = "card-right"  >
    					
    						<div class = "container no-click" style= "max-width: -50%;display: flex; justify-content: flex-end; padding-right:0;margin:0;z-index:100;">			
    						<div class = "flex-child">	
    						<a href  = "https://drive.google.com/drive/folders/13gr6UBglnt458ELScuXEiqwPpqfFJ5_7" onclick="disable()">
						<img src =  "../../static/aero/css/images/link.png" class = "icon" ></a>
						</div>
						<div class = "flex-child">
						<a href  = "nowhere">
  						<img src =  "../../static/aero/css/images/youtube.svg" class = "icon1" ></a>
  						</div>
						</div>
      				<div class="card-body">
        			<h5 class="card-title">Bionicopter</h5>
        			<small class="text-muted inv1 invisible1">Team members: Abhinav , Rishyanth , Yagneswar , Karthikeya</small>
       		       <p class="card-text inv1 invisible1">
            This project is to make a bionic-opter which is a remote-controlled robotic model of a dragon-fly.
            <span class = "invisible inv"> Our main inspiration to make this is our interest in drones and aerial vehicles, we were interested in making an unmanned remote-controlled copter in a different way from others. So, we used the flapping mechanism of a dragon-fly to make the drone fly and hence we named it bionicopter(bionic-copter).
            
            <br>
            <img src="../../static/aero/css/images/bionicopter.JPG" alt="bionic-copter" width="520px">
            <img src="../../static/aero/css/images/bionicopter1.jpg" alt="bionic-copter"width="520px">
               <br>     
            We are going to control the bionicopter through blue-tooth from an app for which the code had been written and uploaded to Raspberry-pi and the wing flap frequency and servo motor can be used to rotate the flapper orientation which changes the flapping direction and hence movement direction. 
            </p>
            <b class="card-text">Learnings/Key Takeaways/Experience:</b>
            <li class="card-text">We have used wrong dc motors which were unable to give enough power for wing flapping but we did every design based on that which we had to change according to new motors. This gave us a very bad experience and taught a lesson for not planning an alternative.</li>
            <li class="card-text">Some of us did new-things like soldering, coding for Raspberry-pi (and hence learnt Python), 3D designing (some new parts were learned from the web) and working on 3D-printer.</li>
            <li class="card-text">Being always conscious while working is also a very important thing as being careless at some point of time ruins the entire connected parts.</li>
            <li class="card-text">Never procrastinate your work as this led our project not to complete on time .</li>
            <li class="card-text">Being Confident under any circumstances is the best learning for all of us. </li>
</span>

          
          </div>
      </div>
 </div>
</div>
<!-------11th card------High on Wheels----------------------------------------------------------------------------------------------------->
<div class="card mb-3 " style="max-width: 100%;">
  				<div class="row no-gutters " id = "card-full"  >
  					<div class="col click card11" id = "card-left">
  					 	
     					 
   					 <div class = "overlay"></div>
   					 </div>
   					 
    					<div class="col-6 expand click " id = "card-right"  >
    					
    						<div class = "container no-click" style= "max-width: -50%;display: flex; justify-content: flex-end; padding-right:0;margin:0;z-index:100;">			
    						<div class = "flex-child">	
    						<a href  = "https://drive.google.com/drive/folders/13gr6UBglnt458ELScuXEiqwPpqfFJ5_7" onclick="disable()">
						<img src =  "../../static/aero/css/images/link.png" class = "icon" ></a>
						</div>
						<div class = "flex-child">
						<a href  = "nowhere">
  						<img src =  "../../static/aero/css/images/youtube.svg" class = "icon1" ></a>
  						</div>
						</div>
      				<div class="card-body">
        			<h5 class="card-title">High on Wheels</h5>
        			<small class="text-muted inv1 invisible1">Team members: Ekta Agarwal | Arjun gupta | Naman Saraf</small>
       		       <p class="card-text inv1 invisible1">
            A quadcopter that can fly as well as walk. We have made a X shaped quadcopter that has a spider bot attached at bottom of it.<span class = "invisible inv">We have made a X shaped quadcopter that has a spider bot attached at bottom of it.
            <br>
              <img src="../../static/aero/css/images/how.jpg" alt="..." width="520px">
           <img src="../../static/aero/css/images/how1.jpg" alt="..." width="520px"></spam>
           <h5 class="card-text">Learnings/Key Takeaways/Experience:</h5>
           <li class="card-text">If flying conditions are adverse due to different reasons like wind, rain, dense forest, etc then walking mechanism could help to ensure its safety as well as it will ensure a mission to carry on.</li>
           <li class="card-text">If our quad got caught sight of opposition then we can ensure to hide it on the ground due to its walking mechanism.</li>
           <li class="card-text">We want to create drones which can sneak into dangerous places without getting noticed, our project is somewhat related to it, that’s why we are doing this project.</li> 
           <li class="card-text">Our spider bot is 4 legged which has 3 degrees of freedom per leg. It can increase and decrease its height It can walk front, back, left, right.</li>


          
          </div>
      </div>
 </div>
</div>
<!-------12th card-----------checking the code------------------------------------------------------------------->

<!------------14th card-------------------------------------------------------------->
</div>
<div class = "col"> </div>  
</div>
</div>
</div>
<!---code for footer-->

<div style="bottom:0;">
	<div class="ro" style=" position:relative; z-index: 5;">
	  <div class="colum" style="background-color: #01ACBE;">
		  <div id="info">
			  <a id="wh" href="#a">Contact info</a><br>
			  <a href="#" class="fa fa-google"></a>&nbsp; &nbsp;<a id="wh" href="#a">Email Adress</a><br>
			
		  </div>  
	  </div>
	  <div class="colum" style="background-color: #01ACBE;">
		  <div id="contact">
			  <a href="#" class="fa fa-facebook"> </a> &nbsp; <a id="wh">Facebook</a><br>
			  <a href="#" class="fa fa-instagram"> </a>&nbsp; <a id="wh">Instagram</a><br>
			  <a href="#" class="fa fa-youtube"> </a> &nbsp;<a id="wh">YouTube</a>
		  </div>  
	  </div>
	  <div class="colum" style="background-color: #01ACBE;">
		  <div id="contact">
			  <h3 id="socia" href="#a">Subscribe to our Newsletter</h3><br>
	  
		  </div>  
	  </div>   
	  <div class="colum" style="background-color: #01ACBE;">
		  <div id="contac">
		  <p id="wh">ADRESS</p>
		  </div>
	  </div>
	</div>
	</div>


<!-------------------------------------------------------->

<script src ="../../static/aero/js/jquery.min.js">

</script>
<script>
$("a").click(function(event){
  event.stopPropagation();
  
});

const elems = document.getElementsByClassName("click")

elems[0].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 elem = elem[0]
 elem_inv = elem_inv[0]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 
 elem_inv1[0].classList.toggle("invisible1");
 elem_inv1[1].classList.toggle("invisible1");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[1].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[0].classList.toggle("invisible1");
 elem_inv1[1].classList.toggle("invisible1");
 elem = elem[0]
 elem_inv = elem_inv[0]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[2].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[2].classList.toggle("invisible1");
 elem_inv1[3].classList.toggle("invisible1");
  elem_inv = elem_inv[1]
 elem = elem[1];
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
});
elems[3].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 elem = elem[1];
  var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[2].classList.toggle("invisible1");
 elem_inv1[3].classList.toggle("invisible1");
  elem_inv = elem_inv[1]
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
 
elems[4].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[4].classList.toggle("invisible1");
 elem_inv1[5].classList.toggle("invisible1");
  elem_inv = elem_inv[2]

elem_inv.classList.toggle("invisible");
elem = elem[2];

elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 
elems[5].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[4].classList.toggle("invisible1");
 elem_inv1[5].classList.toggle("invisible1");
  elem_inv = elem_inv[2]

elem_inv.classList.toggle("invisible");
elem = elem[2];
elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 


elems[6].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[6].classList.toggle("invisible1");
 elem_inv1[7].classList.toggle("invisible1");
 elem = elem[3]
 elem_inv = elem_inv[3]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[7].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
  var elem_inv =document.getElementsByClassName("inv")
  var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[6].classList.toggle("invisible1");
 elem_inv1[7].classList.toggle("invisible1");
 elem = elem[3]
  elem_inv = elem_inv[3]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[8].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[8].classList.toggle("invisible1");
 elem_inv1[9].classList.toggle("invisible1");
  elem_inv = elem_inv[4]
 elem = elem[4];
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
});
elems[9].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 elem = elem[4];
  var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[8].classList.toggle("invisible1");
 elem_inv1[9].classList.toggle("invisible1");
  elem_inv = elem_inv[4]
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
 
elems[10].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[10].classList.toggle("invisible1");
 elem_inv1[11].classList.toggle("invisible1");
  elem_inv = elem_inv[5]

elem_inv.classList.toggle("invisible");
elem = elem[5];

elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 
elems[11].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[10].classList.toggle("invisible1");
 elem_inv1[11].classList.toggle("invisible1");
  elem_inv = elem_inv[5]

elem_inv.classList.toggle("invisible");
elem = elem[5];
elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 



elems[12].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[12].classList.toggle("invisible1");
 elem_inv1[13].classList.toggle("invisible1");
 elem = elem[6]
 elem_inv = elem_inv[6]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[13].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
  var elem_inv =document.getElementsByClassName("inv")
  var elem_inv1 =document.getElementsByClassName("inv1")
 
 
 
 elem_inv1[12].classList.toggle("invisible1");
 elem_inv1[13].classList.toggle("invisible1");
 elem = elem[6]
  elem_inv = elem_inv[6]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[14].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[7]
 elem = elem[7];
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
});
elems[15].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 elem = elem[7];
  var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[7]
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
 
elems[16].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[8]

elem_inv.classList.toggle("invisible");
elem = elem[8];

elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 
elems[17].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[8]

elem_inv.classList.toggle("invisible");
elem = elem[8];
elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 


elems[18].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 elem = elem[9]
 elem_inv = elem_inv[9]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[19].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
  var elem_inv =document.getElementsByClassName("inv")
 elem = elem[9]
  elem_inv = elem_inv[9]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[20].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[10]
 elem = elem[10];
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
});
elems[21].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 elem = elem[10];
  var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[10]
elem.classList.toggle("togclass");
elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
 
elems[22].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[11]

elem_inv.classList.toggle("invisible");
elem = elem[11];

elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 
elems[23].addEventListener("click", function(){
var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 
  elem_inv = elem_inv[11]

elem_inv.classList.toggle("invisible");
elem = elem[11];
elem.classList.toggle("togclass");
 elem.classList.toggle("col-6")
 elem.classList.toggle("col-12")
elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera 
}); 


elems[24].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
 var elem_inv =document.getElementsByClassName("inv")
 elem = elem[12]
 elem_inv = elem_inv[12]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 
elems[25].addEventListener("click", function(){
 var elem = document.getElementsByClassName("expand")
  var elem_inv =document.getElementsByClassName("inv")
 elem = elem[12]
  elem_inv = elem_inv[12]
 elem.classList.toggle("togclass");
 elem_inv.classList.toggle("invisible");
 elem.classList.toggle("col-6")
  elem.classList.toggle("col-12")
  
 elem.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}); 

function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  
  // When the user clicks anywhere outside of the modal, close it
  var modal = document.getElementById('ticketModal');
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }



</script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  

  
  
  
  
  </body>
</html>
